* {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
	color: #0e0e0e;
}
section {
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
}
h1 {
    text-align: center;
}
h4 {
	margin-top: .75rem;
	margin-bottom: .75rem;
}
.grid {
    display: grid;
    grid-template-columns: 3fr 1fr;
}
.grid > div:first-child {
    padding: .75rem;
}
button {
    margin-top: .5rem;
	padding: .6rem 1rem;
	background-color: #14a7ff;
	border: none;
	cursor: pointer;
}
.form-group {
    display: flex;
    align-items: center;
	margin-top: .25rem;
	margin-bottom: .25rem;
}
.reverse {
    direction: rtl;
}

input[name="info"] {
    align-self: auto;
}

.form-group label{
    flex-grow: 1;
}