* {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
	color: #0e0e0e;
}
section {
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
}
h1 {
    text-align: center;
}
h4 {
	margin-top: .75rem;
	margin-bottom: .75rem;
}
.grid {
    display: grid;
    grid-template-columns: 3fr 1fr;
}
.grid > div:first-child {
    padding: .75rem;
}
button {
    margin-top: .5rem;
	padding: .6rem 1rem;
	background-color: #14a7ff;
	border: none;
	cursor: pointer;
}
.form-group {
    display: flex;
    align-items: center;
	margin-top: .25rem;
	margin-bottom: .25rem;
}
.reverse {
    direction: rtl;
}

input[name="info"] {
    align-self: auto;
}

.form-group label{
    flex-grow: 1;
}


/****************************************************************************************
* Pour les Popup
*****************************************************************************************/
/*************************************************************/
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    background-color: #FFF6C4;
    margin: auto;
    padding: 10px;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 6px 6px 4px 1px #555;
    border-radius: 5px;
  }
  
  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }